*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;

    font-family: "Helvetica Neue", "Helvetica Neue", "Helvetica", "Arial", "sans-serif"

}


.container{
    width: 100vw;
    min-height: 100vh;
    background-color: #FCF5EB;
    padding: 0 40px;
}


.navbar{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    align-items: center;
}


.whatsappLogo{
    width: 130px;
    height: 30px;
}


.Features{
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 110px;
    height: 20px;
}

/* 
.Features::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;

    bottom: 0%;
    left: 5%;

    background-color: #25D366;

    transform: scaleX(0);
    transition: all 0.5s ease-in-out;
    transform-origin: left;
}

.Features:hover::after{
    transform: scaleX(1);
}
 */


.Features > img{
    transform: rotate(-90deg);
    width: 10px;
    height: 15px;
}


.nav-items{
    font-size: 16px;
    display: flex;
    gap: 35px;
}


.nav-items > p{
    cursor: pointer;
}


.slide{
    position: relative;
}


.slide::after {

    position: absolute;
    content: "";
    width: 100%;
    height: 2px;

    bottom: 0%;
    left: 2%;

    background-color: #25D366;

    transform: scaleX(0);
    transition: all 0.5s ease-in-out;
    transform-origin: left;
}


.slide:hover::after{
    transform: scaleX(1);
    /* transition: 0.5s linear; */
}


.navbar > button, .btn{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 15px 25px;     /*top-bottom and left-right*/
    font-size: 18px;
    border-radius: 60px;
    background-color: #25D366;
    bottom: none;
    border: 0.1px solid black;
}


.firstSection{
    padding: 40px;
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 100%;
}


.maaBeti{
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    padding: 0 180px;
    align-items: center;
    border-radius: 25px;
    background-image: url(whatsApp/MaaBeti.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
    /* width: 100%; */
}


.firstSection > p{
    font-size: 15px;
    opacity: 0.8;
    padding-top: 10px;
    text-align: end;
}


.right{
    margin-top: 8%;
    position: relative;
    width: 30%;
    height: 100%;
}


.right img:nth-child(1){
    width: 450px;
    animation: gm 0.5s ease-in-out;
}


@keyframes gm{
    0%{
        transform: translateY(50px);
    }
    100%{
        transform: translateY(0);
    }
}


.right img:nth-child(2){
    position: absolute;
    left: 5px;
    top: 15px;
    width: 450px;
    animation: dil 1s ease-in-out;
}


@keyframes dil{
    0%{
        opacity: 0;
    }
    75%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}



.right img:nth-child(3){
    margin-left: 1  0px;
    width: 400px;
    animation: chai 1.8s ease-in-out;
}


@keyframes chai{
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    60%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}


.right img:nth-child(4){
    width: 420px;
    animation: voice 2.1s ease-in-out;
}


@keyframes voice{
    0%{
        opacity: 0;
        transform: translateY(70px);
    }
    80%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}


.right img:nth-child(5){
    width: 420px;
    animation: emo 3.1s ease-in-out;
}


@keyframes emo{
    0%{
        opacity: 0;
        transform: translateY(70px);
    }
    80%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}


.right img:nth-child(6){
    position: absolute;
    top: 448px;
    left: 5px;
    width: 400px;
    animation: emotionalEmoji 3.4s ease-in-out;
}


@keyframes emotionalEmoji{
    0%{
        opacity: 0;
    }
    75%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}


.right img:nth-child(7){
    padding-top: 30px;
    width: 400px;
    animation: trip 3.91s ease-in-out;
}


@keyframes trip{
    0%{
        opacity: 0;
        transform: translateY(70px);
    }
    80%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}



.btn{
    width: 200px;
}


.left{
    display: flex;
    flex-direction: column;
    gap: 9 0px;
}


.leftMsg{
    color: white;
} 


.leftMsg > h1{
    margin-bottom: 15px;
    overflow-y: hidden;
    letter-spacing: -3px;
    line-height: 80px;
    font-size: 4.9em;
    font-weight: 300;
}


.secondSection{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}


.secondSection > img {
    width: 80%;
}


.secondSection > p{
    text-align: center;
    font-size: 2.8em;
    letter-spacing: -1px;
    line-height: 50px;
    font-weight: 500;
    overflow: hidden;
}


.firstBday{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    /* overflow: hidden; */
}


.leftPart p:nth-child(1){
    overflow: hidden;
    font-size: 3.8em;
    line-height: 63px;
}


.leftPart p:nth-child(2){

    line-height: 22px;
    padding-top: 20px;
}


.learnMore{
    position: relative;
    /* display: flex;
    align-items: center; */
}


.learnMore > span{
    display: inline-block;
    padding-top: 40px;
    font-size: 16px;
    /* width: 100px; */
    /* text-decoration: 2px underline #25D366; */
}


.learnMore::before{
    position: absolute;
    content: "";
    width: 23%;
    bottom: 0%;
    height: 2px;
    background-color: #25D366;
}


.learnMore > img{
    margin-left: 10px;
    rotate: 180deg;
}


.learnMore :hover
{
    color: #25D366;
}


.thirdSection{
    overflow: hidden;
}


.beach, .groupchat{
    position: relative;
}


.beach img:nth-child(2){
    width: 330px;
    top: 27%;
    right: 0%;
    position: absolute;
}


.groupchat img:nth-child(2){
    width: 330px;
    top: 14%;
    right: -5%;
    position: absolute;
}