*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;

    font-family: "Helvetica Neue", "Helvetica Neue", "Helvetica", "Arial", "sans-serif"

}


.container{
    width: 100vw;
    min-height: 100vh;
    background-color: #FCF5EB;
    /* padding: 0 40px; */
}


.navbar{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    align-items: center;
    padding: 20px 40px;

    width: 100vw;
    backdrop-filter: blur(15px);
    position: fixed;
    border-bottom: 1px solid #cec9c1;
    /* background-color: #fcf5eb; */
    transition: backdrop-filter .3s cubic-bezier(.42, .00, .58, 1.00);
}


.whatsappLogo{
    width: 130px;
    height: 30px;
}


.Features{
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 110px;
    height: 20px;
}


.Features > img{
    transform: rotate(-90deg);
    width: 10px;
    height: 15px;
}


.nav-items{
    font-size: 16px;
    display: flex;
    gap: 35px;
}


.nav-items > p{
    cursor: pointer;
}


.slide{
    position: relative;
}


.slide::after {

    position: absolute;
    content: "";
    width: 100%;
    height: 2px;

    bottom: 0%;
    left: 2%;

    background-color: #25D366;

    transform: scaleX(0);
    transition: all 0.5s ease-in-out;
    transform-origin: left;
}


.slide:hover::after{
    transform: scaleX(1);
    /* transition: 0.5s linear; */
}


.navbar > button, .btn{
    overflow: hidden;
    position: relative;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 15px 25px;     /*top-bottom and left-right*/
    font-size: 18px;
    border-radius: 60px;
    background-color: #25D366;
    bottom: none;
    border: 0.1px solid black;

    z-index: 1;
}


.btn::before{
    
    width: 500px;
    height: 500px;
    border-radius: 50%;
    /* scale: 1.3; */
    z-index: -1;
    position: absolute;
    content: "";
    opacity: 1;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.5s 0.3s;
    transform: translateX(-150px) translateY(60px);
    /* transform: translateY(50px); */
}


.btn:hover::before{
    transform: translateX(-150px) translateY(-20px);
    /* transform: translateY(0px); */
    opacity: 1;
}


.btn:hover{
    cursor: pointer;
}


/* .btn:hover{
    background-color: #fff;
    transition: 0.7s;
} */


.firstSection{
    /* padding: 40px; */
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 100%;
    padding: 20px 40px; 
}


.maaBeti{
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    /* padding: 0 180px; */
    align-items: center;
    border-radius: 25px;
    background-image: url(whatsApp/MaaBeti.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
    /* width: 100%; */
}


.firstSection > p{
    font-size: 15px;
    opacity: 0.8;
    padding-top: 10px;
    text-align: end;
}


.right{
    margin-top: 8%;
    position: relative;
    width: 500px;
    height: 100%;
}


.right img:nth-child(1){
    width: 450px;
    animation: gm 0.5s ease-in-out;
}


@keyframes gm{
    0%{
        transform: translateY(50px);
    }
    100%{
        transform: translateY(0);
    }
}


.right img:nth-child(2){
    position: absolute;
    left: 5px;
    top: 15px;
    width: 450px;
    animation: dil 1s ease-in-out;
}


@keyframes dil{
    0%{
        opacity: 0;
    }
    75%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}



.right img:nth-child(3){
    margin-left: 1  0px;
    width: 400px;
    animation: chai 1.8s ease-in-out;
}


@keyframes chai{
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    60%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}


.right img:nth-child(4){
    width: 420px;
    animation: voice 2.1s ease-in-out;
}


@keyframes voice{
    0%{
        opacity: 0;
        transform: translateY(70px);
    }
    80%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}


.right img:nth-child(5){
    width: 420px;
    animation: emo 3.1s ease-in-out;
}


@keyframes emo{
    0%{
        opacity: 0;
        transform: translateY(70px);
    }
    80%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}


.right img:nth-child(6){
    position: absolute;
    top: 448px;
    left: 5px;
    width: 400px;
    animation: emotionalEmoji 3.4s ease-in-out;
}


@keyframes emotionalEmoji{
    0%{
        opacity: 0;
    }
    75%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}


.right img:nth-child(7){
    padding-top: 30px;
    width: 400px;
    animation: trip 3.91s ease-in-out;
}


@keyframes trip{
    0%{
        opacity: 0;
        transform: translateY(70px);
    }
    80%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}



.btn{
    width: 200px;
}


.left{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 9 0px;
}


.leftMsg{
    color: white;
} 


.leftMsg > h1{
    margin-bottom: 15px;
    overflow-y: hidden;
    letter-spacing: -3px;
    line-height: 80px;
    font-size: 4.9em;
    font-weight: 300;
}


.secondSection{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}


.secondSection > img {
    width: 80%;
}


.secondSection > p{
    text-align: center;
    font-size: 2.8em;
    letter-spacing: -1px;
    line-height: 50px;
    font-weight: 500;
    overflow: hidden;
}


.firstBday{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    /* overflow: hidden; */
}


.leftPart p:nth-child(1){
    overflow: hidden;
    font-size: 3.8em;
    line-height: 63px;
}


.leftPart p:nth-child(2){

    line-height: 22px;
    padding-top: 20px;
}


.learnMore{
    position: relative;
    /* display: flex;
    align-items: center; */
}


.learnMore > span{
    display: inline-block;
    padding-top: 40px;
    font-size: 16px;
    /* width: 100px; */
    /* text-decoration: 2px underline #25D366; */
}


.learnMore::before{
    position: absolute;
    content: "";
    width: 23%;
    bottom: 0%;
    height: 2px;
    background-color: #25D366;
}


.learnMore > img{
    margin-left: 10px;
    rotate: 180deg;
}



.learnMore :hover
{
    color: #25D366;
}


.thirdSection{
    overflow: hidden;
}


.beach, .groupchat{
    position: relative;
}


.beach img:nth-child(2){
    width: 330px;
    top: 27%;
    right: 0%;
    position: absolute;
}


.groupchat img:nth-child(2){
    width: 330px;
    top: 14%;
    right: -5%;
    position: absolute;
}


.bgChange{
    padding: 60px;
    width: 100vw;
    background-color: #111B21;
    color: white;
}


.footer{
    height: 530px;
    margin-top: 10  0px;
    background-color: #111B21;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.upper{
    width: 50%;
    height: 38%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
    margin-top: 30px;
}


.up1{
    height: 100%;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.up2, .up3, .up4, .up5{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
     
    /* justify-content: flex-start;
    align-items: flex-start; */
}


.up2>p, .up3>p, .up4>p, .up5>p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: 100;
    opacity: 0.8;
    overflow: hidden;
}


ul{
    overflow: hidden;
}


ul>li{
    overflow: hidden;
    margin-bottom: 20px;
}


li{
    font-size: 17px;
    font-weight: 500;
}


li:hover{
     text-decoration: 1px underline white;
}


hr{
    color: white;
    width: 55%;
}


.lower{
    position: relative;
    margin-top: 50px;
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.lower > p{
    font-size: 12px;
}


.social{
    overflow: hidden;
    position: relative;
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* gap: 20px; */
}


.social > i{
    z-index: 1;
    border: 1px solid white;
    padding: 15px;
    border-radius: 100%;
}


.socialMedia:hover{
    transition: 0.3s 0.2s;
    background-color: #25D366;
    border-color: #111b2100;
}


select{
    padding: 20px 90px 20px 30px;
    background-color: #111B21;
    color: white; 
    border: 1px solid white;
    border-radius: 50px;
}


.angle{
    right: 20px;
    position: absolute;
}


.navbar2{
    display: none;
}

.media{
    display: none;
}

.footer2{
    display: none;
}

@media screen and (min-width: 320px) and (max-width: 480px) {

    .navbar {
        display: none; 
    }
    
    .navbar2{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 10px;
    }

    .btn2{
        background-color: #25D366;
        border-radius: 50%;
        width:  30px;
        height: 30px;
    }

    .whatsappLogo2{
        width: 23%;
    }

    .right img:nth-child(4) {
        display: none;
    }

    .right img:nth-child(5), .right img:nth-child(6),.right img:nth-child(7) {
        display: none;
    }

    .maaBeti {
        overflow: hidden;
        display: flex;
        flex-direction: column-reverse;
        justify-content: end;
        margin-top: 5px;
        /* padding: 0 180px; */
        align-items: center;
        border-radius: 25px;
        background-image: url(whatsApp/MaaBeti.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 700px;
        /* width: 100%; */
    }


    .leftMsg{
        margin-bottom: 50px;
    }


    .leftMsg > h1 {
        margin-bottom: 15px;
        overflow-y: hidden;
        letter-spacing: -3px;
        line-height: 40px;
        font-size: 2.5em;
        font-weight: 300;
    }

    .leftMsg > p{
        font-size: 13px;
        width: 70%;
    }

    .right{
        margin-top: 230px;
        margin-left: 50px;
        width: 350px;
        height: 120px;
    }


    .left {
        margin-left: 50px;
        margin-bottom: 30px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .leftMsg {
        color: white;
    }

    .navbar > button, .btn {
        overflow: hidden;
        position: relative;
        display: flex;
        gap: 1px;
        justify-content: center;
        align-items: center;
        padding: 15px 2px;
        font-size: 15px;
        border-radius: 60px;
        background-color: #25D366;
        bottom: none;
        border: 0.1px solid black;
        z-index: 1;
        width: 50%;
    }

    .right img:nth-child(1) {
        width: 300px;
        animation: gm 0.5s ease-in-out;
    }

    .right img:nth-child(2) {
        position: absolute;
        left: 5px;
        top: 12px;
        width: 300px;
        animation: dil 1s ease-in-out;
    }

    .right img:nth-child(3) {
        margin-left: 10px;
        width: 300px;
        animation: chai 1.8s ease-in-out;
    }

    .firstSection > p {
        font-size: 12px;
        opacity: 0.8;
        padding-top: 10px;
        text-align: start;
    }

    .secondSection > img:nth-child(1) {
        
    }

    .media2{
        display: none;
    }

    .media{
        display: block;
    }

    #p2{
        font-size: 20px;
        line-height: 30px;
        padding: 0px 30px;
    }

    .thirdSection {
        overflow: hidden;
    }

    .firstBday{
        padding: 0px 30px;
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 60px;
        /* overflow: hidden; */
    }

    .leftPart p:nth-child(1) {
        overflow: hidden;
        font-size: 1.8em;
        line-height: 28px;
    }

    .firstBday2{
        flex-direction: column-reverse;
    }

    /* .footer {
        display: none;
        height: 530px;
        margin-top: 100px;
        background-color: #111B21;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } */

    .hello{
        display: none;
    }

    .footer2{
        margin-top: 100px;
        height: 900px;
        color: white;
        background-color: #111B21; 
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    hr {
        color: white;
        width: 100%;
    }

    .f2btn{
        height: 200px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .f2social{
        height: 120px;
        width: 200%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .f2part{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        gap: 30px;
        margin-top: 30px;
        justify-content: space-around;
    }

    .f2part > img {
        width: 25%;
        margin-left: 50px;
    }

    .part1, .part2{
        display: flex;
        justify-content: space-around;
    }

    .part1_1 > p,.part1_2 > p, .part2_1 > p, .part2_2 > p{
        font-size: 10px;
        margin-bottom: 20px;
    }

    .lowerPart{
        width: 100%;
        display: flex;
        height: 180px;
        justify-content: space-around;
        align-items: center;
    }

    select {
        padding: 20px 90px 20px 30px;
        background-color: #111B21;
        color: white;
        border: 1px solid white;
        border-radius: 50px;
    }

    .angle{
        right: 80px;
        position: absolute;
    }
}